<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../Libraries/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../CSS/CDL.css">

</head>
<body>
    <xform role="form">
<h1 class="dclCenteredText">admin</h1>
        <div class="container form-group required">

            <div class="row">
                <div class="col-xs-2 col-sm-2 col-lg-2">
                     <ul class="nav nav-pills nav-stacked" role="tablist">
                         <li class="active"><a href="#cdlGeneralSettings" role="tab" data-toggle="tab">General Settings</a></li>
                         <li><a href="#cdlListsAndLibraries" role="tab" data-toggle="tab">Lists and Libraries</a></li>
                         <li><a href="#" role="tab" data-toggle="tab">Search</a></li>
                         <li><a href="#" role="tab" data-toggle="tab">Look and Feel</a></li>
                         <li><a href="#" role="tab" data-toggle="tab">Advanced Setup</a></li>
                     </ul>
                </div>

               <div class="tab-content">

                   <!-- general settings -->
                   <div class="tab-content col-xs-10 col-sm-10 col-lg-10">
                       <div id="cdlGeneralSettings" class="tab-pane fade in active">
                           this is the general settings stuff
                           i can add a new batch of rows here I think
                       </div>

                       <div id="cdlListsAndLibraries" class="tab-pane fade">
                           lists and libraries go here
                       </div>
                   </div>
               </div>
            </div>
        </div>
    <xform>

        <script type="text/javascript" src="../../Libraries/jQuery/jquery.min.js"></script>
        <script type="text/javascript" src="../../Libraries/Bootstrap/bootstrap.min.js"></script>

</body>
</html>