<!DOCTYPE html>
<html ng-app="CDLApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Categorized Document Library Listing</title>
    <link rel="stylesheet" href="../Libraries/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../CSS/CDL.css">
</head>
<body>

    <xform role="form">

    <div class="container form-group required" ng-controller="CDLController">

        <!-- Page/body label -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 dclCenteredText"><h2>{{CDLSettings.generalProperties.appDisplayLabel}}</h2></div>
        </div>

        <!-- Category display and search control area -->
        <div class="row">
            <div class="col-xs-8 col-sm-8">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border" id="dclCategoriesSection">
                        Categories
                        (<a href="#" ng-click="selectAllCategories()">Select All</a>)
                        (<a href="#" ng-click="deselectAllCategories()">Deselect All</a>)
                        (<a href="#" ng-click="doShowCategoryHelp = !doShowCategoryHelp;" ng-switch="doShowCategoryHelp"><span ng-switch-when="true">Hide Help</span><span ng-switch-default>What's This?</span></a>)
                    </legend>

                    <div class="row" ng-show="doShowCategoryHelp">
                        <div class="col-sm-12 col-xs-12">
                            <p>
                            <h4>Category Help</h4>
                            {{CDLSettings.generalProperties.appHelp.categoriesHelp}}
                            </p>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-3 col-sm-3 cdlHoverCat"
                             ng-repeat="aCategory in allCategories" ng-click="toggleCategoryIsSelected(aCategory.catName)">
                            {{aCategory.catName}} <span ng-show="true || aCategory.catCount > 0">({{aCategory.catCount}})</span>
                            <span ng-show="isCategorySelected(aCategory.catName)" class="glyphicon glyphicon-ok"></span>
                        </div>

                    </div>
                </fieldset>


            </div>

            <div class="col-xs-4 col-sm-4">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border" id="dclSearchSection">
                        Quick Search
                        <!-- big long line required to avoid spaces after and before the opening/closing parens -->
                        (<a href="#" ng-click="doShowSearchText = !doShowSearchText;" ng-switch="doShowSearchText"><span ng-switch-when="true">Hide Help</span><span ng-switch-default>What's This?</span></a>)
                    </legend>

                    <div class="row" ng-show="doShowSearchText">
                        <div class="col-sm-12 col-xs-12">
                            <p>
                                <h4>Search Help</h4>
                                {{CDLSettings.generalProperties.appHelp.quickSearchHelp}}

                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4 col-xs-4">
                            Search for:
                        </div>
                        <div class="col-sm-8 col-xs-8">
                            <input type="text" ng-model="searchText">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            It's possible to figure out how many rows we need for categories and for search to show and
                            then force a height this way.
                        </div>
                    </div>

                </fieldset>

            </div>

            <div class="col-xs-12 col-sm-12">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border" id="dclSearchResultsBody">
                        Search Results
                        (<a href="#" ng-click="doShowSearchResultsHelp = !doShowSearchResultsHelp;" ng-switch="doShowSearchResultsHelp"><span ng-switch-when="true">Hide Help</span><span ng-switch-default>What's This?</span></a>)
                    </legend>

                    <div class="row" ng-show="doShowSearchResultsHelp">
                        <div class="col-sm-12 col-xs-12">
                            <p>
                            <h4>Search Results Help</h4>
                            {{CDLSettings.generalProperties.appHelp.searchResultsHelp}}
                            </p>
                        </div>
                    </div>

                    <div ng-show="allSelectedCategories.length < 1">
                        Select one or more categories to see search results.
                    </div>

                    <div class="row cdlTableHeader" ng-show="allSelectedCategories.length > 0;">
                        <div class="col-xs-3 col-sm-3">Document</div>
                        <div class="col-xs-8 col-sm-8">Title</div>
                        <div class="col-xs-1 col-sm-1">Modified</div>
                    </div>

                    <div ng-repeat="aCat in allSelectedCategories">

                        <div class="row">
                            <div class="col-sm-12 col-xs-12 cdlCategoryHeader">Category: {{aCat.catName}} // {{aCat.catCount}}</div>
                            <!-- Show this message when there are no actual documents in this category -->
                            <div class="col-sm-12 col-xs-12" ng-show="aCat.catCount === 0">
                                <p>
                                    Oops!  Your system administrators defined this category but there
                                    aren't any documents tagged with it.  Don't despair!  They will
                                    upload something here soon.
                                </p>
                            </div>
                        </div>

                        <div class="row cdlHoverCat" ng-class="{cdlEvenRow: $even}"
                             ng-repeat="aDocument in allSelectedDocuments | filter:{docCategory:aCat.catName} ">
                            <div class="col-sm-3 col-xs-3">
                                [icon] {{aDocument.docName}}
                                <span class="glyphicon glyphicon-download"></span>
                            </div>
                            <div class="col-sm-8 col-xs-8">{{aDocument.docTitle}}</div>
                            <div class="col-sm-1 col-xs-1">{{aDocument.docModifiedDate | date}}</div>
                            <div class="col-sm-3 col-xs-3"></div>
                            <div class="col-sm-8 col-xs-8"
                                 ng-bind-html="aDocument.docSummary | highlight:searchText">
                            </div>
                            <div class="col-sm-1 col-xs-1"></div>
                        </div>
                    </div>
                </fieldset>
            </div>

        </div>


    </div>

</xform>

    <script type="text/javascript" src="../JS/CDLUtil.js"></script>
    <script type="text/javascript" src="../Libraries/Angular/angular.js"></script>
    <script type="text/javascript" src="../Libraries/Angular/angular-route.js"></script>
    <script type="text/javascript" src="../Libraries/Lodash/lodash.js"></script>
    <script type="text/javascript" src="../JS/CatDocLibController.js"></script>
    <script type="text/javascript" src="../Libraries/jQuery/jquery.min.js"></script>
    <script type="text/javascript" src="../Libraries/Bootstrap/bootstrap.min.js"></script>
</body>
</html>
